/*=========================================MAIN SETTINGS=========================================*/

body, html {
    height: 100%;
    font-family: sans-serif;
    color: #5e5e5e;
}

.wrapper.container {
    background-color: #e5e5e5;
    height: 90%;
    min-height: 70rem;
}

header h1 {
    margin: 30px auto 30px;
}

header nav .nav-justified {
    padding-right: 0;
}

header nav .nav-pills > li {
    font-size: 1.8rem;
}

header nav .nav-pills > li > a {
    color: #656565;
    background-color: #d5d5d5;
    margin: 0 1rem;
}

header .nav-pills>li.active>a,
header .nav-pills>li.active>a:focus,
header .nav-pills>li.active>a:hover {
    background-color: #aaaaaa;
}

footer.container {
    height: 10%;
    min-height: 8rem;
    font-size: 16px;
    line-height: 8rem;
    background-color: #cccccc;
}

footer.container b {
    margin: 0 1rem;
}

#main {
    padding-top: 3rem;
}

/*=========================================FIRST TASK=========================================*/

#firstTask .firstTaskForm {
    margin: 3rem auto;
}

#firstTask .alert-danger {
    color: #8c4240;
    background-color: #f28d87;
}

#firstTask .alert-success {
    color: #2c7631;
    background-color: #9ff09d;
}

/*=========================================SECOND TASK=========================================*/

#secondTaskBtnWrapper {
    position: relative;
    margin: 3rem auto;
    width: 24rem;
    height: 24rem;
    border-radius: 15px;
}

#secondTaskBtnWrapper.green {
    background-color: #9ff09d;
}

#secondTaskBtnWrapper.red {
    background-color: #f28d87;
}

#btn-get-second {
    position: absolute;
    left: calc(50% - 51px);
    top: calc(50% - 17px);
}

#secondTask .list-group {
    max-width: 30rem;
    margin: 0 auto;
}

#secondTask .list-group .list-group-item {
    background-color: #e5e5e5;
    border: 1px solid #d0d0d0;
}

/*=========================================THIRD TASK=========================================*/

#thirdTask .forFetch {
    margin: 3rem auto;
}

#thirdTask .fetchList {
    max-width: 25rem;
    margin: 0 auto;
}

#thirdTask .fetchList li {
    margin-bottom: .2rem;
}
