<div id="thirdTask" class="col-md-6 col-md-offset-3 text-center">
    <h2 class="text-center"><strong>Third challenge</strong></h2>
    <div class="forFetch">
        <button type="button" class="btn btn-default" id="getFetch">Get fetch data</button>
        <button type="button" class="btn btn-default" id="clearFetch">Clear</button>
    </div>
    <% if (productsExist) { %>
        <ul class="fetchList text-left">
            <% if (_.size(fruits) > 0) { %>
                <li>Fruits
                    <ul class="fruits">
                        <% _.each(fruits, function(itemValue, itemName) {
                            var itemNameToUpper = itemName.charAt(0).toUpperCase() + itemName.substr(1),
                            manyItemsName = itemNameToUpper;
                            if (!(itemName.lastIndexOf('s') == itemName.length - 1)) {
                            manyItemsName = itemNameToUpper + 's';
                            }
                            if (itemValue == 1) { %>
                                <li><%= itemValue %> <%= itemNameToUpper %></li>
                            <% } else { %>
                                <li><%= itemValue %> <%= manyItemsName %></li>
                            <% }
                         }) %>
                    </ul>
                </li>
            <% }
            if (_.size(vegetables) > 0) { %>
                <li>Vegetables
                    <ul class="vegetables">
                        <% _.each(vegetables, function(itemValue, itemName) {
                            var itemNameToUpper = itemName.charAt(0).toUpperCase() + itemName.substr(1),
                            manyItemsName = itemNameToUpper;
                            if (!(itemName.lastIndexOf('s') == itemName.length - 1)) {
                            manyItemsName = itemNameToUpper + 's';
                            }
                            if (itemValue == 1) { %>
                                <li><%= itemValue %> <%= itemNameToUpper %></li>
                            <% } else { %>
                                <li><%= itemValue %> <%= manyItemsName %></li>
                            <% }
                        }) %>
                    </ul>
                </li>
            <% } %>
        </ul>
    <% } %>
</div>
